* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img { max-width: 100%; }
[class*=grid] {margin:0;}

/* NOTES
-colors:
rust #d3b4a2; 
green #9b9b81
dark #a2745c
-font: 'Source Sans Pro'
*/

/* temporary styles */
/* * {
    padding: 0.5rem;
    border: 1px solid rgb(220,220,220);
} */
/* html,
body {
    border: none;
} */
/* h1, h2, h3, h4, h5, h6, p, a {border: 1px solid rgb(210, 152, 145);}
.bg-image {background-color: rgb(224, 188, 127);} */

/* End temporary styles */

/* Utility Classes */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded    { padding: 5%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }

.padded-t  { padding-top: 5%;  }
.padded-b  { padding-bottom: 5%;}
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%;}

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0;}
.margin-b-0 { margin-bottom: 0;}

.bg-rust  { background-color: #d3b4a2;}
.bg-green { background-color: #9b9b81;}
.bg-dark  { background-color: #a2745c;}

.light-text { color: white; } 

.left   { text-align: left;}
.center { text-align: center;}
.right  { text-align: right;}


/* Background Images */
.bg-image {
    background-color: rgb(240,240,240); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/plant.jpg');
}

.bg-plant {
    background-image: url('/images/plant.jpg');
    background-position: 50% 43%;
}

.bg-plant-2 {
    background-image: url('/images/plant-2.jpg');
    background-position: 75% 50%;
}
.bg-meeting {
    background-image: url('/images/meeting.jpg');
}

/* Typography */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: rgb(60,60,60);
}